version: 2
updates:
  - package-ecosystem: 'gradle'
    directory: '/'
    schedule:
      interval: monthly
    open-pull-requests-limit: 30

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: monthly
    open-pull-requests-limit: 30

  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: monthly
    open-pull-requests-limit: 30
    ignore:
      - dependency-name: "sass"
        versions: [ ">1.70.0" ]

  - package-ecosystem: 'npm'
    directory: '/cloudflare-bypass-proxy'
    schedule:
      interval: monthly
    open-pull-requests-limit: 30

  - package-ecosystem: 'pip'
    directory: '/market-price-tracker'
    schedule:
      interval: monthly
    open-pull-requests-limit: 30
    ignore:
      - dependency-name: "selenium"
        versions: [ ">4.16.0" ]  # This ignores all versions higher than 4.16.0
