# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
*.swp
*.swo
.vscode/

# Logs
*.log

# Version control
.git/
.gitignore

# Environment variables
.env*

# Test cache
.pytest_cache/
.coverage
htmlcov/
